<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/assets/css/syntax.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/assets/css/main.css">

</head>
<body>
    <header class="the-header">
        <h1 class="logo"><a href="#">Jsfans</a></h1>
        <nav class="main-nav">
            <ul>
                <li><a href="#">修前端</a></li>
                <li class="active"><a href="#">玩后端</a></li>
                <li><a href="#">抄代码</a></li>
                <li><a href="#">淘工具</a></li>
            </ul>
        </nav>
    </header>

    {{ content }}

    <section class="extra">
        <div class="inner">
            <div class="copyright">
                &copy; 2013 Jsfans. All rights reserved.
            </div>
        </div>
    </section>

</body>
</html>
